#container {
    position: relative;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas {
    position:absolute; top:0; left:0;
    pointer-events: none;
}

#image {
    position:absolute; top:0; left:0;
}

.file-uploader {
  margin-top: 50px;
}

#btn-analysis {
    margin-top: 10px;
    text-align: center;
}